<div class="powerbi-wrapper">
  <div class="powerbi-card">
    <h2>Visualización del millón de registros</h2>
    <p>
      Explora el tablero interactivo en Power BI con la visualización del
      millón de registros, donde se analizan los datos de manera dinámica
      y sencilla.
    </p>

    <a
      href="https://sites.google.com/view/actividadfinal-visualizacion/inicio"
      target="_blank"
      rel="noopener noreferrer"
      class="powerbi-button"
    >
      Ver visualización en Power BI
    </a>
  </div>
</div>

